// imports
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');

@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,600');


// colors
$primary: #328CB3;
$error: #B84557;
$success: #48A9A5;
$light: #E9DDE3;
$dark: #232B28;
$white: #FAFAFA;
$gray: #8A9DA5;
$pink: #E34EA3;

// fonts 
$serif: 'Crimson Text', serif;
$sans: 'Open Sans', sans-serif;

// resets
body {
	margin: 0;
	color: $dark;
	background: $white;
	height: 100vh;
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

* {
	font-family: $sans;
	box-sizing: border-box;
	transition: 0.15s;

	&:focus {
		outline: none;
	}
}
// fonts
h1,
h2,
h3,
h4,
h5{
	margin: 0 0 0.5rem;
	color: $dark
}

h1 {
	font-family: $serif;
	font-size: 2rem;
	text-align: center;
	margin-bottom: 16px;
}

h2 {
	font-size: 1.8rem;
}

h3 {
	font-size: 1.6rem;
}

h4 {
	font-size: 1.4rem;
}

h5 {
	font-size: 1.2rem;
}

p {
	line-height: 1.5;
	margin: 0 0 0.5rem;
}

a {
	font-family: $sans;
	text-decoration: none;
	color: $light;
	margin: 0;
	padding-right: 8px;
	cursor: pointer;
	transition: 0.3s;

	&:hover {
		color: lighten($pink, 5%);
	}
}

i {
	color: $light;
	transition: 0.3s;

	&:hover {
		color: lighten($pink, 5%);
	}
}

// globals
section {
	display: flex;
	margin: 0 auto;

	@media screen and (max-width: 742px) {
		display: block;
	}
}

.avatarDefault {
	width: 94px;
	height: 94px;
	border-radius: 100%;
	background: black;
	margin: 0 auto;
	text-align: center;

	img {
		width: 100%;
		border-radius: 100%;

		&:hover {
			opacity: 0.3;
		}
	}
}

.col1,
.col2 {
	flex-grow: 1;
	flex-basis: 0;
	padding: 1rem 4rem;

	@media screen and (max-width: 742px) {

	}
}
[v-cloak] {display: none}

.loading {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba($dark, 0.4);
	z-index: 9999;

	p {
		background: $white;
		width: 150px;
		text-align: center;
		margin: 40vh auto 0;
        padding: 40px 0;
		border-radius: 3px;
		box-shadow: 0 0 20px 0 rgba($dark, 0.5);
	}
}

.error-msg {
	margin-top: 1rem;
	text-align: center;
	p {
		color: $error;
		margin: 0;
	}
}

.button {
	background: $pink;
	border: 0;
	outline: 0;
	color: $white;
	padding: 0.8rem 1rem;
	margin-bottom: 16px;
	min-width: 150px;
	font-size: 16px;
	border-radius: 3px;
	cursor: pointer;

	&:hover {
		background: lighten($pink, 5%);
	}
    &:disabled {
        opacity: 0.5;

        &:hover {
            background: $pink;
        }
    }
}

.text-center {
	text-align: center;
}

.inline {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;

	li {
		display: inline-block;
	}
}

.right {
	float: right;

	li {
		color: $pink;

		a {
			color: $pink;
			font-size: 18px;
		}
	}
}

.avatarThumbnail {
	float: right;
	max-width: 32px;
	border: solid grey;
	border-radius: 100%;
	margin-left: 16px;
}
.tooltip {
	z-index: 10000 !important;
	background-color: grey;
	padding: 8px;
	border-radius: 5%;
	font-size: 12px;
	color: white

}

.inlineRight {
	margin: 0;
	list-style: none;
	float: right;
	padding-right: 80px;

	li {
		display: inline-block;
		padding-left: 12px;

		a {
			font-size: 24px;
			color: darkgrey;
		}

		img {
			max-width: 44px;
			display: inline-block;
			border-radius: 100%;
			border: solid pink;
		}
	}
}

.clear {
    clear: both;
}

form {
	label {
		display: block;
		font-size: 16px;
		margin-bottom: 0.5rem;
	}

	input {
		display: block;
		width: 100%;
		margin-bottom: 1rem;
		font-size: 16px;
		padding: 10px;
		outline: 0;
		border: 1px solid $dark;
		border-radius: 3px;

		&:focus {
			box-shadow: 0 0 5px 0 rgba($dark, 0.2);
		}
	}

    textarea {
        resize: none;
        border: 1px solid $gray;
        outline: 0;
        // height: 100px;
        width: 80%;
        padding: 10px;
		font-size: 16px;
    }
}